#container{
    color: rgb(38, 129, 198);
    text-align: center;
    font-size: 1.5em;
}

h1{
    color: rgb(255, 255, 255);
    background-color: rgb(38, 129, 198);
    text-align: center;
    margin-inline-start: 25%;
    margin-inline-end: 25%;

}
